<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<header class=" containerNav text_white blue_background">
    <h1> Mon panier</h1>
    <div class="itemCart cartContainer">
        <div> Mon Panier <span th:text="|${cart.id}|"> </span>  </div>
        <span class="alignRight"> <i class="fa fa-shopping-cart"></i> <span th:text="|${cartSize}|"> </span> </div>
    </div>


</header>
<div class="contents">
    <div class="containerNav text_white blue_background">
        <div class="itemNav ">All Ads</div>
        <div class="itemNav ">My Ads</div>
    </div>


</div>
<footer class="footer blue_background mt-1 text_white">
    All Rights Reserved to Etienne Le Bolideur
</footer>

</body>
</html>
