<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<header class=" containerNav text_white blue_background">
    <h1> Ma commande</h1>


</header>
<div class="contents">
    <div class="containerNav text_white blue_background">
        <div class="itemNav ">All Ads</div>
        <div class="itemNav ">My Ads</div>
    </div>
    <div class="container">
        <div class="card mt-2">
            <div class="card-header">
                Récapitulatif Commande
            </div>
            <div class="card-body">

                <p class="card-text">Votre commande a été placée avec succès.  </p>
                <button type="button" class="btn btn-primary"> <a class="text-white" th:href="@{|/|}" > Faire d'autres achats </a></button>
            </div>
        </div>

    </div>




</div>
<footer class="footer blue_background mt-1 text_white">
    All Rights Reserved to Etienne Le Bolideur
</footer>

</body>
</html>
